<mtx-grid [data]="items"
          [columns]="columns"
          [loading]="isLoading"
          [columnResizable]="columnResizable"
          [multiSelectable]="multiSelectable"
          [rowSelectable]="rowSelectable"
          [hideRowSelectionCheckbox]="hideRowSelectionCheckbox"
          [rowHover]="rowHover"
          [rowStriped]="rowStriped"
          [showToolbar]="showToolbar"
          [toolbarTitle]="'Data Grid Toolbar'"
          [columnHideable]="columnHideable"
          [columnSortable]="columnSortable"
          [columnPinnable]="columnPinnable"
          [expandable]="expandable"
          [expansionTemplate]="expansionTpl"
          [pageOnFront]="showPaginator"
          [showPaginator]="showPaginator"
          [pageSizeOptions]="pageSizeOptions"
          [pageIndex]="pageIndex"
          [pageSize]="pageSize"
          (sortChange)="changeSort($event)"
          (selectionChange)="changeSelect($event)">
</mtx-grid>
<ng-template #expansionTpl let-row>
  {{row.name}}
</ng-template>