<page-header></page-header>

<div class="row" *ngFor="let league of leagues">
  <div class="col-sm-12">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>{{ league.name }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mtx-grid [data]="league.final_ranking"
        [columns]="columns"
        [length]="league.final_ranking.length"
        [loading]="isLoading"
        [pageOnFront]="true"
        [columnResizable]="columnResizable"
        [multiSelectable]="multiSelectable"
        [rowSelectable]="rowSelectable"
        [hideRowSelectionCheckbox]="hideRowSelectionCheckbox"
        [rowHover]="rowHover"
        [rowStriped]="rowStriped"
        [showToolbar]="showToolbar"
        [toolbarTitle]="'Data Grid Toolbar'"
        [columnHideable]="columnHideable"
        [columnSortable]="columnSortable"
        [columnPinnable]="columnPinnable"
        [pageOnFront]="showPaginator"
        [showPaginator]="showPaginator"
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[10,20,50]">
        </mtx-grid>
      </mat-card-content>
    </mat-card>
  </div>

</div>
